<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/11.%20Nested%20Loops%20%2B%20Jump%20Statements%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Content:**

* **Revision of Loops & Jump Statements**
* **Nested Loops**
* **Pattern Printing sample**
* **Greatest Common Divisor (GCD)** **`(a.k.a Highest Common Factor (HCF))`**
* **Least Common Multiple (LCM)**

In [ ]:
for i in range(0,5):
  print(i, end = " ")

0 1 2 3 4

In [ ]:
for i in range(6):
  print(i, end = " ")

0 1 2 3 4 5

In [ ]:
'''
Write a loop to print the following numbers: 1, 4, 7, 10, 13, 16
'''

for i in range(1, 17, 3):
  print(i, end = ", ")

1, 4, 7, 10, 13, 16,

In [ ]:
for i in range(1, 17, 3):
  if i == 16:
    print(i, end = "")
  else:
    print(i, end = ", ")

1, 4, 7, 10, 13, 16

In [ ]:
i = 1

while i <= 16:

  if i == 16:
    print(i, end ="")
  else:
    print(i, end = ", ")

  #updation
  i = i+3

1, 4, 7, 10, 13, 16

In [ ]:
'''
Write a while loop to print the following numbers: 1, 3, 7, 13, 21, 31, 43
'''

In [ ]:
n=1
i = 1

while n < 44:

  if n == 43:
    print(n, end = "")
  else:
    print(n, end =", ")

  n = n + 2*i
  i = i+1

1, 3, 7, 13, 21, 31, 43

In [ ]:
#code to visualize the detail working of the logic
n=1
i = 1

while n < 44:

  print(" n = ", n, " i = ", i, "   2*i = ", 2*i)

  n = n + 2*i
  i = i+1

 n =  1  i =  1    2*i =  2
 n =  3  i =  2    2*i =  4
 n =  7  i =  3    2*i =  6
 n =  13  i =  4    2*i =  8
 n =  21  i =  5    2*i =  10
 n =  31  i =  6    2*i =  12
 n =  43  i =  7    2*i =  14

In [ ]:
#Jump statements:
'''
pass
continue
break
'''

In [ ]:
i = 1

while i< 10:

  if i == 5:
    pass

  print(i, end = " ")

  i += 2

1 3 5 7 9

In [ ]:
#revision of use-case of pass keyword
i = 1

while i< 10:

  if i == 5:

  print(i, end = " ")

  i += 2

IndentationError: ignored

In [ ]:
i = 1

while i< 10:

  if i == 5:
    continue

  print(i, end = " ")

  i += 2

1 3

KeyboardInterrupt: ignored

In [ ]:
#auto-updation in range within for loop

for i in range(1,5):

  if i == 3:
    continue

  print(i, end = " ")

1 2 4

In [ ]:
i = 1

while i< 10:

  i += 2

  if i == 5:
    continue

  print(i, end = " ")

3 7 9 11

In [ ]:
i = 1

while i< 10:

  if i == 2:
    break

  print(i, end = " ")

  i += 2

1 3 5 7 9

In [ ]:
i = 2

while i< 10:

  if i == 7:
    break

  print(i, end = " ")

  i += 2

2 4 6 8

In [ ]:
i = 1

while i< 10:

  if i == 7:
    break

  print(i, end = " ")

  i += 2

1 3 5

In [ ]:
We will resume sharp at 10:08

In [ ]:
#nested loops:

for i in range(3):
  for j in range(3):
    print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
#nested loops:

for i in range(3):
  for j in range(3):
    print("i = ", i, " j = ", j)

i =  0  j =  0
i =  0  j =  1
i =  0  j =  2
i =  1  j =  0
i =  1  j =  1
i =  1  j =  2
i =  2  j =  0
i =  2  j =  1
i =  2  j =  2

In [ ]:
'''
This will be discussed in detail in pattern printing class
Write a program that takes n as input
and print a nxn matrix of *

n = 3

* * *
* * *
* * *

'''

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n):
    print('*', end = " ")

  print()

3
* * *
* * *
* * *

In [ ]:
'''
Given two positive integers as input,
write a program to calculate the GCD of these two numbers

a = 3
b = 6

gcd(a,b) = 3



a = 8
b = 12

gcd(a,b) = 4

'''

In [ ]:
#4-5 concepts in this code

#code to find common divisors of a and b
a = int(input())
b = int(input())

x = min(a,b)

for i in range(x, 0, -1):

  if a%i == 0 and b%i == 0:
    print(i)

4
6
2
1

In [ ]:
#4-5 concepts in this code

#code to find greatest common divisors of a and b
a = int(input())
b = int(input())

x = min(a,b)

for i in range(x, 0, -1):

  if a%i == 0 and b%i == 0:
    print("The GCD is ", i)
    break

16
24
The GCD is  8

In [ ]:
min(2,4)

2

In [ ]:
min(5,6)

5

In [ ]:
max(2,4)

4

In [ ]:
max(2,4,5)

5

In [ ]:
max(2,2,4)

4

In [ ]:
max(1,1,1)

1

In [ ]:
'''
Given two positive integers as input,
write a program to calculate the LCM of these two numbers

a = 2
b = 3

lcm(a,b) = 6


'''

In [ ]:
a = int(input())
b = int(input())

x = max(a,b)

#infinite loop
while True:

  if x%a ==0 and x%b == 0:
    print(x)
    break

  x = x+1

8
12
24

In [ ]:
print(list(range(15,8,-1)))

[15, 14, 13, 12, 11, 10, 9]