<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/13.%20Pattern%20Printing%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("You guys are awwwwesome!!")

You guys are awwwwesome!!

In [ ]:
'''
Question1: Print the following pattern:

n=5

*
**
***
****
*****

'''

In [ ]:
for i in range(1,6):
  #print the pattern on the line
  print("HI", end="")
  print()

HI
HI
HI
HI
HI

In [ ]:
n = int(input())
for i in range(1, n+1):

  #print the pattern in the ith row

  for j in range(i):
    print("*", end = "")

  # print("\n" , end = "")
  print()

5
*
**
***
****
*****

In [ ]:
for j in range(5):
  # print(j, end = "")
  print("*", end = "")

*****

In [ ]:
n = int(input())
for i in range(1, n+1):

  #print the pattern in the ith row - print i stars on a single line
  for j in range(i):
    print("*", end = "")

  # print("\n" , end = "")
  print(i)

5
1
2
3
4
5

In [ ]:
n = int(input())
for i in range(n):
  print("*", end = "")

3
***

In [ ]:
'''
Q2-
Print the following pattern:

n = 6

1
12
123
1234
12345
123456

'''

In [ ]:
n = int(input())

for i in range(1,n+1):

  #print the ith row: print elemnts from 1 to i both included
  for j in range(1,i+1):
    print(j, end = "")

  print()

5
1
12
123
1234
12345

In [ ]:
n=5
for j in range(1,n+1):
  print(j, end = "")

12345

In [ ]:
'''
Q3-
Print the following pattern:

n = 6

*
*2
*2*
*2*4
*2*4*
*2*4*6
'''

In [ ]:
n = int(input())

for i in range(1, n+1):

  #print ith row
  for j in range(1, i+1):

    if j%2 == 0:
      print(j, end = "")
    else:
      print("*", end = "")

  print()

6
*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
'''
Q4-
Print the following pattern:

n = 5

*****
****
***
**
*

'''

In [ ]:
n = int(input())

for i in range(n):

  #print the ith row - print n-i stars
  for j in range(n-i):
    print('*', end = "")

  print()

5
*****
****
***
**
*

In [ ]:
n = int(input())

for i in range(2,n+2):

  #print the ith row - print n-i stars
  for j in range(n+2-i):
    print('*', end = "")

  print()

5
*****
****
***
**
*

In [ ]:
'''
Q5-
Print the following pattern:

n = 7

      *
     **
    ***
   ****
  *****
 ******
*******


'''

In [ ]:
n = int(input())
for i in range(1, n+1):

    #space part = for a given i, print n-i stars
    for space in range(1,n-i+1):
      print(" ", end =  "")

    #star part
    for star in range(i):
      print("*", end ="")


    print()

7
      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
n = int(input())
for i in range(1, n+1):

    #space part = for a given i, print n-i stars
    for space in range(0,n-i):
      print(" ", end =  "")

    #star part
    for star in range(i):
      print("*", end ="")


    print()

7
      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
n = int(input())
for i in range(1, n+1):

    #space part = for a given i, print n-i stars
    for space in range(n-i):
      print(" ", end =  "")

    #star part
    for star in range(i):
      print("*", end ="")


    print()

7
      *
     **
    ***
   ****
  *****
 ******
*******