<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/18.%20Lists-2%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Contenet**
* **`ceil()`**
* **`floor()`**
* **How to take list as input?**
* **`split()`**
* **Type Casting `(i.e. String to Integer)`**
* **Lists**
  - **Store**
  - **Access**
  - **Modify `(i.e. Mutability)`**
* **Multiple Assignments**
* **Removing the dat**a
  - **`pop()`**
  - **`remove()`**
* **Linear Search `(NOTE: Next Class)`**

In [ ]:
|print("Hows the josh??")

Hows the josh??

In [ ]:
'''
Q1:
 given a list of int, print the square of each element.

 ip: [2,4,5]
 op: 4, 16, 25

'''

'\nQ1:\n given a list of int, print the square of each element.\n\n ip: [2,4,5]\n op: 4, 16, 25\n \n'

In [ ]:
a = [2,4,5]
for elem in a:
  print(elem*elem, end = " ")

4 16 25

In [ ]:
a = [2,4,5]
for elem in a:
  print(elem**2, end = " ")

4 16 25

In [ ]:
'''
Q1:
 given a list of int, create a list of squares of it

 ip: [2,4,5]
 op: [4, 16, 25]

'''

In [ ]:
b = []
a = [2,4,5]

for elem in a:
  b.append(elem*elem)

In [ ]:
print(b)

[4, 16, 25]

In [ ]:
#how to take list as input

In [ ]:
#way1
n = int(input())

b = []

for i in range(n):
  elem = int(input())
  b.append(elem)

4
3
2
7
9

In [ ]:
print(b)

[3, 2, 7, 9]

In [ ]:
type(b)

list

In [ ]:
#way2: input given as a string of space separated int

# ex: "2 4 6 7" - will cover in detail in string class

In [ ]:
s = input()

b = s.split(" ")

2 4 8 9

In [ ]:
print(b)

['2', '4', '8', '9']

In [ ]:
type(b[0])

str

In [ ]:
# we want [2, 4, 8, 9]

In [ ]:
ans = []
for elem in b:
  ans.append(int(elem))

In [ ]:
print(ans)

[2, 4, 8, 9]

In [ ]:
s = input()

b = s.split(" ")

ans = []
#convert str elements to int
for elem in b:
  ans.append(int(elem))

print(s, b, ans)

4 7 3 2
4 7 3 2 ['4', '7', '3', '2'] [4, 7, 3, 2]

In [ ]:
type(b[0])

str

In [ ]:
type(ans[0])

int

In [ ]:
'''
Q3:

Write a program, that takes list as input and creates another list having qubes of each of the element

eg:
ip: [3, 2, 4]
op: [27, 8, 64]
'''

'\nQ3:\n\nWrite a program, that takes list as input and creates another list having qubes of each of the element\n\neg:\nip: [3, 2, 4]\nop: [27, 8, 64]\n'

In [ ]:
a = [3, 2, 4]

b = []

for elem in a:
  b.append(elem**3)

In [ ]:
print(b)

[27, 8, 64]

In [ ]:
'''
IMP - will cover more of split in strings class

Q4:

Write a program, that takes string as input and creates another list having qubes of each of the element

eg:
ip: "3 2 4"
op: [27, 8, 64]
'''

In [ ]:
s = input()

b = s.split(" ")

ans = []

for elem in b:
  ans.append(int(elem)**3)

3 2 4

In [ ]:
print(ans)

[27, 8, 64]

In [ ]:
'''
list
store
access
modify

'''

#store
a = [2,4,7]

In [ ]:
#access
a [2]

7

In [ ]:
#modify
a[2] = 9

In [ ]:
print(a)

[2, 4, 9]

In [ ]:
'''
Q5:

'''

a = [2, 5, 9]

a[2] = a[2] + 1

print(a)

[2, 5, 10]

In [ ]:
#Q6:

a = [3, 5, 9]

a[1] = a[1]+1
a[2] = a[2] + 5

print(a)

[3, 6, 14]

In [ ]:
#Q7:

a = [1,6,8]

a[1] = a[0]

print(a)

[1, 1, 8]

In [ ]:
#IMP - this ability to modify itself without creating a copy - is called Mutability in Python

#Lists are mutable

In [ ]:
'''
Q8:

Write a program to swap 1st two elements of the list

ip: a = [2,5,7]
op: [5, 2, 7]
'''

In [ ]:
a = [6, 2, 7]
a[0] = 5
a[1] = 2
print(a)

[5, 2, 7]

In [ ]:
a = [5,3,7]

a[0] = a[1]

a[1] = a[0]


print(a)

# issue: a[0] got updated to a[1] and the original information got lost

[3, 3, 7]

In [ ]:
#soln1 - store it in some variable

In [ ]:
a = [5,3,7]

temp = a[0]
a[0] = a[1]
a[1] = temp

print(a)

[3, 5, 7]

In [ ]:
#python - Multiple Assignements

In [ ]:
a, b = 3, 4 #will teach this cool concept in Tuples class

In [ ]:
print(a,b)

3 4

In [ ]:
a,b,c = 4,2,6

print(a,b,c)

4 2 6

In [ ]:
#swapping using python cool concept - without using extra variable

In [ ]:
a = 2
b = 3

print("Before swapping, a =", a, " b =",b)

a, b = b, a #unpacking


print("After swapping, a =", a, " b =",b)

Before swapping, a = 2  b = 3
After swapping, a = 3  b = 2

In [ ]:
'''
Q9:

a = [2,4,6,8,10]

Swap elements present at 2 and 4 index
'''

'\nQ9:\n\na = [2,4,6,8,10]\n\nSwap elements present at 2 and 4 index\n'

In [ ]:
a = [2,4,6,8,10]

a[2], a[4] = a[4], a[2]

print(a)

[2, 4, 10, 8, 6]

In [ ]:
'''
Q10:
This consists of most of the concepts covered.

1. Everyone post only on DM
2. Take your time- make sure you attempt it at the best of your ability
Suggestion: take a pen and paper

Tell me the ans after every line

'''

a = [1, 5, 2, 3]

a.append(7)

a.insert(0, 5)

a[1] = a[2]

a[2] , a[0] = a[0], a[2]

print(a)

In [ ]:
a = [1, 5, 2, 3]

In [ ]:
a.append(7)

In [ ]:
print(a)

[1, 5, 2, 3, 7]

In [ ]:
a.insert(0, 5) #0 --> index, 5 -- > value

In [ ]:
print(a)

[5, 1, 5, 2, 3, 7]

In [ ]:
a[1] = a[2]

In [ ]:
print(a)

[5, 5, 5, 2, 3, 7]

In [ ]:
a[2] , a[0] = a[0], a[2]

In [ ]:
print(a)

[5, 5, 5, 2, 3, 7]

In [ ]:
#Removing the data

In [ ]:
# 1. pop()
# 2. remove()

In [ ]:
#pop() : by default, pops or removes the last element of the list and returns the value

In [ ]:
a = [4,7,2,1]

b = a.pop()

In [ ]:
print(b)

1

In [ ]:
print(a)

[4, 7, 2]

In [ ]:
#pop(i): removes and returns the element present at the ith index

In [ ]:
a = [5,4,7,3,9,10]

b = a.pop(4)

In [ ]:
print(b)

9

In [ ]:
print(a)

[5, 4, 7, 3, 10]

In [ ]:
#remove - removes an element based on the element provided

#diff from pop(): as pop() uses index whereas remove uses element

#remove(x): removes the FIRST occurance of the element x from the list

# IMP: doest not return the removed value

In [ ]:
a = [1, 4, 7, 2]

a.remove(4)

print(a)

[1, 7, 2]

In [ ]:
a = [1, 4, 7, 4, 2]

a.remove(4)

print(a)

[1, 7, 4, 2]

In [ ]:
a = [1, 4, 7, 4, 2]

a.pop(4)

print(a)

[1, 4, 7, 4]

In [ ]:
a = [1, 4, 5, 5, 5, 5, 1]

a.remove(5)

print(a)

[1, 4, 5, 5, 5, 1]

In [ ]:
a.remove(5)

In [ ]:
print(a)

[1, 4, 5, 5, 1]

In [ ]:
a = [1, 4, 5, 5, 5, 5, 1]

x = a.remove(5)

print(x)

None

In [ ]:
a = [1, 4, 5, 5, 5, 5, 1]

x = a.pop(5)

print(x)

5

In [ ]:
'''
Linear Search:

Q:
part1- Given a list of integers, print the index of the first occurance of an element x

# will discuss this in next class, IMP: till then everything , think about it

Part2 - extension: Print every index of occurance of the given element x

eg: a = [1, 3, 4, 2, 5, 2]

x = 2
part1-
Ans: 3

Part2-
3, 5
'''