<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/19.%20Lists-2D%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hows the josh??????")

Hows the josh??????

In [ ]:
a = [4, 3.5, "AJ", True]

In [ ]:
type(a)

list

In [ ]:
a = [4, 5, [1,2,3]]

In [ ]:
len(a)

3

In [ ]:
a = [[1,2,3], [4,5,6], [7,8,9]]

In [ ]:
len(a)

3

In [ ]:
print(a[0])

[1, 2, 3]

In [ ]:
type(a[0])

list

In [ ]:
print(a[1])

[4, 5, 6]

In [ ]:
print(a[2])

[7, 8, 9]

In [ ]:
n = len(a)
for i in range(n):
  print(a[i])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
print(a[0][0])

1

In [ ]:
print(a[1][2])

6

In [ ]:
rows = len(a)

cols = len(a[1])

In [ ]:
print(rows, cols)

3 3

In [ ]:
b = [
    [1,2,3],
    [4,5,6]
]

In [ ]:
rows = len(b)

cols = len(b[0])

In [ ]:
print(rows, cols)

2 3

In [ ]:
'''
Q1-
Given a matrix, print each number within it, separated by a space

ip: [ [1,2,3], [4,5,6] ]
op: 1 2 3 4 5 6
'''

In [ ]:
a = [ [1,2,3],
      [4,5,6] ]

In [ ]:
#version1

for i in range(2):
  for j in range(3):
    print(a[i][j], end = " ")

1 2 3 4 5 6

In [ ]:
a = [ [1,2,3],
      [4,5,6],
      [7,8,9] ]

In [ ]:
#version2

rows = len(a)
cols = len(a[0])

for i in range(rows):
  for j in range(cols):
    print(a[i][j], end = " ")

1 2 3 4 5 6 7 8 9

In [ ]:
#version3:

for i in a:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for row in a:
  for elem in row:
    print(elem, end = " ")

1 2 3 4 5 6 7 8 9

In [ ]:
a = [12,3,5,6]

In [ ]:
for elem in a:
  print(elem)

12
3
5
6

In [ ]:
'''
1 2 3 4 5 6 7 8 9

op:
1 2 3
4 5 6
7 8 9


'''

In [ ]:
a = [ [1,2,3],
      [4,5,6],
      [7,8,9] ]

In [ ]:
#version 5:

for row in a:
  for elem in row:
    print(elem, end = " ")

  print()

1 2 3
4 5 6
7 8 9

In [ ]:
'''
Q2:
Take a 3 x 3 matrix as input from the user

'''

In [ ]:
matrix = []
for i in range(3):
  row = []
  for j in range(3):
   row.append(int(input()))

  matrix.append(row)

1
2
3
4
5
6
7
8
9

In [ ]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
'''
Q3:
In the similar way as above, please write a code that takes a 2 x 3 matrix as input
'''

In [ ]:
matrix = []

for i in range(2):
  row = []
  for j in range(3):
    elem = int(input())
    row.append(elem)

  matrix.append(row)

1
2
3
4
5
6

In [ ]:
print(matrix)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
'''
Q4:
Given a 3x3 matrix as input
1. Calculate the sum of all the elements in the matrix
2. Calculate the sum of each row  - eg: row_sum = [6, 15 24]
3. Calculate the sum of each col - HW col_sum = [12, 15, 18]
'''

a = [ [1,2,3],
      [4,5,6],
      [7,8,9] ]

In [ ]:

#version1
sum = 0

for row in a:
  for elem in row:
    sum += elem

print(sum)

45

In [ ]:
#version2

rows = len(a)
cols = len(a[0])
sum = 0

for i in range(rows):
  for j in range(cols):
    sum += a[i][j]

print(sum)

45

In [ ]:
#soln to row sum

row_sum = []

for row in a:
  sum = 0
  for elem in row:
    sum += elem

  row_sum.append(sum)

print(row_sum)

[6, 15, 24]

In [ ]:
'''
Rotate a list by 1 element

input: [1, 2, 3, 4, 5] --> last element should come at the first position
output: [5, 1, 2, 3, 4]
'''

In [ ]:
#version1
a = [1, 2, 3, 4, 5]


last_elem = a[-1]
remaining_list = a[:-1]

ans = [last_elem] + remaining_list
print(ans)

[5, 1, 2, 3, 4]

In [ ]:
#version2 - without creating a new list- you have modified the original list

last_elem = a.pop()
a.insert(0,last_elem)

print(a)

[5, 1, 2, 3, 4]

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
1- count()
2- index()

In [ ]:
# count(elem) --> returns the frequency/count of the element present in the list

In [ ]:
a = [4,1,2,5,4,3,7,8,4,1]

In [ ]:
freq_4 = a.count(4)

In [ ]:
print(freq_4)

3

In [ ]:
print(a.count(1))

2

In [ ]:
print(a.count(100))

0

In [ ]:
#index(elem)--> retunrs the index of FIRST occurance of the element elem

In [ ]:
a = [1,2,4,3,5,4]

In [ ]:
print(a.count(4))

2

In [ ]:
print(a.index(4))

2

In [ ]:
print(a.index(2))

1

In [ ]:
'''
Q6:

Given a list and an element x, find the index of 2nd occurance of x

a = [1,4,3,2,4,5]
x = 4

op:  4
'''

'\nQ6:\n\nGiven a list and an element x, find the index of 2nd occurance of x\n\na = [1,4,3,2,4,5] \nx = 4\n\nop:  4\n'

In [ ]:
a = [1, 4, 3, 2, 4 ,5]
x = 4

first_occur = a.index(x)

In [ ]:
print(first_occur)

1

In [ ]:
remaining_a = a[first_occur+1:]

second_occr = remaining_a.index(x)
print(second_occr)

2

In [ ]:
ans = first_occur+1 + second_occr
print(ans)

4