<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/23.%20Lists_Problem_Solving%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def solve(a,n):

  for i in range(n-1):
    if a[i] == a[i+1]:
      return True

  return False

In [ ]:
a = [1,3,3,4]
n = 4

ans = solve(a,n)
print(ans)

True

In [ ]:
#infinite loop
while True:

  print(1)
  break

1

In [ ]:
shopping_list = []

while True:

  item = input()

  if item == "end":
    break
  else:
    shopping_list.append(item)

shoes
maggi
vegies
end

In [ ]:
print(shopping_list)

['shoes', 'maggi', 'vegies']

In [ ]:
b = [-1]*5
print(b)

[-1, -1, -1, -1, -1]

In [ ]:
s = "a"*5
print(s)

aaaaa

In [ ]:
'''
Create a list of size 7 and and initialize it to all 0s
'''

In [ ]:
l = [0]*7
print(l)

[0, 0, 0, 0, 0, 0, 0]

In [ ]:
def inverse_a(a):

  n = len(a)

  #initializing a list b of size n, all -1
  b = [-1]*n

  for i in range(n):
    b[a[i]] = i

  print(b)

In [ ]:
a = [2,0,1]
inverse_a(a)

[1, 2, 0]

In [ ]:
a = [1,5,20,4]

b[20]

In [ ]:
2 in [5,4,3,2,1]

True

In [ ]:
7 in [5,4,3,2,1]

False

In [ ]:
#search in array

In [ ]:
t = int(input())

i = 0
while i < t:

  #task

  n = int(input())
  str_a = input()
  x = int(input())

  lst = str_a.split(" ")

  int_a = []
  for elem in lst:
    int_a.append(int(elem))


  ans = x in int_a
  print(ans)


  i += 1

In [ ]:
ip = "3 4 5 8 7"

type(ip)

str

In [ ]:
lst = ip.split()
print(lst)

['3', '4', '5', '8', '7']

In [ ]:
type(lst[0])

str

In [ ]:
result = []

for c in lst:
  result.append(int(c))

print(result)

[3, 4, 5, 8, 7]

In [ ]:
actual_ip = [3,4,5,8,7]

In [ ]:
#reverse the list

In [ ]:
ip= "5 1 2 3 4 5"

lst = ip.split(" ")
print(lst)

['5', '1', '2', '3', '4', '5']

In [ ]:
int_a = []
for elem in lst:
  int_a.append(int(elem))

print(int_a)

[5, 1, 2, 3, 4, 5]

In [ ]:
n = int_a[0]

arr = int_a[1:]

print(n, arr)

5 [1, 2, 3, 4, 5]

In [ ]:
arr[::-1]

[5, 4, 3, 2, 1]