<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/5.%20Control%20Statement_2%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Content**

* Practice **Q's** on **Control Statment** topic.

In [ ]:
print("Hello everyone!")

Hello everyone!

In [ ]:
#always gets executed

if condition:
  # executes only when condition is True
else:
  #executes only when condition is Flase

#always gets executed

In [ ]:
'''
Q1 - Taken an integer as input from the user and print whether it is "positive" or "negative".
'''

In [ ]:
n = int(input())

if n>=0:
  print("positive")
else:
  print("negative")

In [ ]:
'''
Q2 - Taken an integer as input from the user and print whether it is "zero" or "positive" or "negative".
'''

'\nQ2 - Taken an integer as input from the user and print whether it is "zero" or "positive" or "negative".\n'

In [ ]:
n = int(input())

if n==0:
  print("zero")
elif n>0:
  print("positive")
else:
  print("negative")

0
zero

In [ ]:
'''
Q3:

Take a non-negative single digit number as input.
if (n**5)%40 is >15, then print "Black" else print "Blue".

Note: If input is not a non-negative single digit, print "Invalid input"
'''

In [ ]:
#version1
n = int(input())


if n>=0 and n<10:
  #do something
  if (n**5)%40 > 15:
    print("Black")
  else:
    print("Blue")
else:
  print("Invalid input")

In [ ]:
#version2 - elif

n = int(input())

if not(n>=0 and n<10):
  print("Invalid input")
elif (n**5)%40 > 15:
  print("Black")
else:
  print("Blue")

15
Invalid input

In [ ]:
n = -1

not(n>=0 and n<10)

True

In [ ]:
n = 13

not(n>=0 and n<10)

True

In [ ]:
n = 6

not(n>=0 and n<10)

In [ ]:
#version3 - without using and - extra concept - nothing new

n = int(input())

if not(0 <= n < 10):
  print("Invalid input")
elif (n**5)%40 > 15:
  print("Black")
else:
  print("Blue")

14
Invalid input

In [ ]:
'''
Q4: Feedback system:

Take a string feedback from a user.
If the feedback is empty, print("Please provide feedback next time")

If feedback is any of "Super", "Great", "Awesome", then print ("Thanks a lot!")
'''

In [ ]:
#incorrect
feedback = input()

if feedback =="":
  print("Please provide feedback next time")
else:
  print("Thanks a lot!")

hi
Thanks a lot!

In [ ]:
feedback = input()

if feedback =="":
  print("Please provide feedback next time")
elif feedback == "Super" or feedback == "Great" or feedback == "Awesome":
  print("Thanks a lot!")

#else is NOT mandatory in your code

#Can else exists without if? - NOT at all
#Can if exists without else?

Please provide feedback next time

In [ ]:
if n==10:
  print("10")

In [ ]:
10:08 --> 10:18

Q5:
Take three inputs from a user which are marks in science, english maths.
Assign the stream according to the following criteria (Bad process : - ):

1. If marks in science > 90 or marks in all 3 subjects are greater than or equal to 75 - print "science"

2. if marks in all 3 subjects are greater than or equal to 60 and less than 75 -- print "commerce"

3. if marks in all 3 subjects are less than 60 -- print "humanities"

Note:

All --> consider individual subjects

Learnings:
1. Understanding the question is 50% of the problem solved.

2. Patiently reading the question

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

100
40
30
Science

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

80
90
90
Science

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

75
75
75
Science

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

65
70
72
Commerce

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

30
50
58
Humanities

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

65
40
50

In [ ]:
#always give meaningful names to variables
#version2 - write in a better way

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if ( 60 <= science <75 and 60 <= maths <75 and 60 <= english <75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

In [ ]:
#always give meaningful names to variables
#version2 - write in a better way

science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and maths >=75 and english >=75):
  print("Science")

if ( 60 <= science <75 and 60 <= maths <75 and 60 <= english <75):
  print("Commerce")

else:
  print("Humanities")

65
40
30
Humanities

In [ ]:
'''
VVV frequently asked in Interviews:  HW

Take an input n from the user (n is a positive int)

1. n is a multiple of 3 - print "FIZZ"
2. n is a multiple of 5 print "BUZZ"
3. n is a multiple of both 3 and 5, print "FIZZBUZZ"

Note: Understand the question carefully
'''

In [ ]:
#always give meaningful names to variables

science = int(input())
english = int(input())
maths = int(input())


if  (science >= 75 and maths >=75 and english >=75):
  print("Science")

if (science >= 60 and maths >=60 and english >= 60) and (science < 75 and maths < 75 and english < 75):
  print("Commerce")

if science <60 and maths < 60 and english < 60:
  print("Humanities")

95
70
70