<a href="https://colab.research.google.com/github/SaiArjunSairamje/Python_ClassNotes/blob/main/9.%20Iteration%20-%20For%20Loops%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Contenet**

* **List Intro**
* **`range()`** --> In Python, **`[,,)`**
* **`len()`**
* **Empty List** -->** o/p: **`[]`**
* **Jump Statement** in **`range()`**
* **Negative Jump Statement** in **range()**
* **For-Loops**
* **For-loop** **`Vs`** **While-loop**
* **Finding last digit of a number**

In [ ]:
print("How's the josh???")

How's the josh???

In [ ]:
i =1
while i<5:
  print(i)
  i += 1

1
2
3
4

In [ ]:
x = [1,2,3,4,5]
type(x)

list

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(3))) #starting value is by default 0 and jump is by default 1

[0, 1, 2]

In [ ]:
print(list(range(0))) # print all the numbers less than 0 starting from 0

[]

In [ ]:
# len(x) --> number of elements present in the list x

In [ ]:
x = [33,4,2]
len(x)

3

In [ ]:
print(list(range(2,2)))

[]

In [ ]:
len(list(range(10)))

10

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(7,8)))

[7]

In [ ]:
print(list(range(-1,3))) # 3 - (-1) -> 4

[-1, 0, 1, 2]

In [ ]:
print(list(range(-9,-1)))

[-9, -8, -7, -6, -5, -4, -3, -2]

In [ ]:
#jump in loops

In [ ]:
print(list(range(0,7,2)))

[0, 2, 4, 6]

In [ ]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [ ]:
print(list(range(1,30,3)))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [ ]:
print(list(range(1,2,3)))

[1]

In [ ]:
# print(list(range(-1,-9))) --> print all the numbers less than -9 starting from -1

[]

In [ ]:
print(list(range(-1,-9))) --

[]

In [ ]:
print(list(range(-1,-9,-1))) #--> print all the numbers greater than -9 starting from -1 and moving in left direction in numberline

[-1, -2, -3, -4, -5, -6, -7, -8]

In [ ]:
print(list(range(8,8,-1)))

[]

In [ ]:
'''
Q- Print all the numbers from 1 to N using a for loop
'''

In [ ]:
n = int(input())
for elem in range(1, n+1):
  print(elem)

5
1
2
3
4
5

In [ ]:
n = int(input())

#initializtion
i = 1

while i< n+1:
  print(i)
  i+= 1

5
1
2
3
4
5

In [ ]:
print(list(range(5,1)))

[]

In [ ]:
'''
Q2-
Calcualte the sum of all teh numbers from 1 to N using a for loop
'''

In [ ]:
n = int(input())

sum = 0

for i in range(1,n+1):
  sum += i

print(sum)

5
15

In [ ]:
n = int(input())

sum = 0

for i in range(1,n+1):
  sum += i
  print(sum)

5
1
3
6
10
15

In [ ]:
10:09

In [ ]:
for i in range(-2,-7,-1):
  print(i)

In [ ]:
for i in range(2,0,2):
  print(i)

In [ ]:
for i in range(-5,-4,-1):
  print(i)

In [ ]:
# defualt start value is 0
#default jump value is 1

In [ ]:
print(list(range(-5,-4,-1)))

[]

In [ ]:
'''
Q3
Print all the numbers from N to 1 where n>1
eg:
n=5
5 to 1
5, 4,3 ,2 ,1
'''

In [ ]:
list(range(1,5,-1))

[]

In [ ]:
n=int(input())

for i in range(n,0,-1):
  print(i, end = " ")

5
5 4 3 2 1

In [ ]:
'''
Q3
Print all the numbers from N to 1 where n>1
eg:
n=5
5 to 1
5, 4,3 ,2 ,1

Note: solve this without using a negative jump
Do using for loop only
'''

In [ ]:
for i in range(0,n):
  print(n,i,n-i)

5 0 5
5 1 4
5 2 3
5 3 2
5 4 1

In [ ]:
for i in range(-n,0):
  print(-1*i)

5
4
3
2
1

In [ ]:
print(list(range(-5,0)))

[-5, -4, -3, -2, -1]

In [ ]:
a = 12345

print(a%10,a//10)

5 1234

In [ ]:
n = int(input())

sum = 0

for i in range(1,n+1):
  sum += i
  print(sum)